<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConexaoEstacionamento" connectionString="data source=DESKTOP-4640NDD\METATECNOLOGIA; Initial catalog=Estacionamento; user id=sa; password=kb74Uwfcq/DRfmAGZd8pkghc52rMpXAGBZXVQOr4pkpIpsK5nt6pDCJE+EF+47wZY8aX87eqCtt/F9vjKBHMNk8jJ/2oVXOtGBcUEMn9cb1txI0Fiv7N+LFzgcfWGJuW;multipleactiveresultsets=true" />
    <add name="Estacionamento.Properties.Settings.EstacionamentoConnectionString"
      connectionString="Data Source=DESKTOP-4640NDD\METATECNOLOGIA;Initial Catalog=Estacionamento;Persist Security Info=True;User ID=sa;Password=kb74Uwfcq/DRfmAGZd8pkghc52rMpXAGBZXVQOr4pkpIpsK5nt6pDCJE+EF+47wZY8aX87eqCtt/F9vjKBHMNk8jJ/2oVXOtGBcUEMn9cb1txI0Fiv7N+LFzgcfWGJuW"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="QuantidadeVagas" value="50"/>
    <add key="ValorMinuto" value="0,50"/>
  </appSettings>
</configuration>